<nav class="sidebar">
  <div class="logo">
    <img src="../../assets/Mania.png" alt="Mania Credit Scoring Logo">
  </div>
  <ul class="sidebar-list">
    <li><a href="/dashboard"><i class="fas fa-home"></i> <span>Home</span></a></li>
    <li><a href="/checker"><i class="fas fa-search"></i> <span>Search</span></a></li>
    <li><a href="/calculator"><i class="fas fa-calculator"></i> <span>Calculator</span></a></li>
    <li><a href="/libs"><i class="fas fa-upload"></i> <span>Upload Data</span></a></li>
    <li><a href="/treated"><i class="fas fa-download"></i> <span>Download Data</span></a></li>
    <li><a href="/maniamini"><i class="fas fa-hands-helping"></i> <span>Help</span></a></li>
    <li><a href="/docs"><i class="fas fa-book"></i> <span>Documentation</span></a></li>
    <li><a href="/logs"><i class="fas fa-history"></i> <span>Logs</span></a></li>
    <li><a href="/logout"><i class="fas fa-cog"></i> <span>Settings</span></a></li>
    <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a></li>
  </ul>
  <p class="version">Version 0.1.a</p>
</nav>

<div class="background-video">
  <video autoplay muted loop id="bg-video">
    <source src="../../assets/Bg.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
