<!-- Import Angular Material Components -->
<mat-toolbar color="primary">Login Form</mat-toolbar>

<form [formGroup]="profileForm" (ngSubmit)="login()">
  <mat-card>
    <mat-card-content>
      <!-- Username Field -->
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" required>
        <mat-error *ngIf="profileForm.get('username') && profileForm.get('username')">
          Username is required.
        </mat-error>
      </mat-form-field>

      <!-- Password Field -->
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
        <mat-error *ngIf="profileForm.get('password') && profileForm.get('password')">
          Password is required.
        </mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <!-- Submit Button -->
      <button mat-raised-button color="primary" type="submit">Login</button>
    </mat-card-actions>
  </mat-card>
</form>

<!-- Login Response Message -->
<div class="response-message" *ngIf="loginResponse">
  <mat-card>
    <mat-card-content>{{ loginResponse }}</mat-card-content>
  </mat-card>
</div>