<div class="content">
  <div class="spinner-overlay" *ngIf="isLoading">
    <div class="loading-text">
      <p>{{ loadingText }}</p>
    </div>
    <div class="loader"></div>
  </div>

  <div *ngIf="!isLoading" class="dashboard fade-up">
    <div class="dashboard-body">
      <app-navbar-back></app-navbar-back>
      <main class="dashboard-main">
        <div class="dashboard">
          <div class="status-board">
            <div class="clock animated-chart">
              <h3>Score Analysis</h3>
              <div class="" [chart]="barChart"></div>
            </div>

            <div class="phase-chart animated-chart">
              <h3>Credit Score Phases</h3>
              <div class="chart-text">
                <p>This chart illustrates the progress and trustworthiness of the models across different phases.</p>
              </div>
              <div class="" [chart]="pieChart"></div>
            </div>
            
            <div class="performance-chart animated-chart">
              <h3>Score Performance</h3>
              <div class="performance-stat">
              <div class="chart-data">
                <div class="data-item">
                  <span class="label">Deletes:</span>
                  <span class="value"><span style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" class="positive animated-satisfaction"> {{ chartData.chart_data.Deletes }}</span></span>
                </div>
                <div class="data-item">
                  <span class="label">Downloads:</span>
                  <span class="value"><span style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" class="positive animated-satisfaction"> {{ chartData.chart_data.Downloads }}</span></span>
                </div>
                <div class="data-item">
                  <span class="label">Uploads:</span>
                  <span class="value"><span style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" class="positive animated-satisfaction"> {{ chartData.chart_data.Uploads }}</span></span>
                </div>
                <div class="data-item">
                  <span class="label">Treated:</span>
                  <span class="value"><span style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" class="positive animated-satisfaction"> {{ chartData.chart_data.treated }}</span></span>
                </div>
              </div>
            </div>
            </div>
          </div>

          <div class="other-stats">
            <div class="stat-block animated-chart">
              <h3>Credit Score Progress</h3>
              <p>Completed Actions: 65%</p>
              <p>Milestones Achieved: 3/4</p>
            </div>

            <div class="stat-block animated-chart">
              <h3>Credit Score Budget</h3>
              <p>Spent: $5,000</p>
              <p>Remaining: $15,000</p>
            </div>

            <div class="stat-block animated-chart">
              <h3>Credit Score Timeline</h3>
              <p>On Track: Yes</p>
              <p>Days Left before next patch: 10</p>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>