<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="center-container">
  <div class="dashboard fade-up">
    <div class="dashboard-body">
      <app-navbar-back></app-navbar-back>
      <main class="dashboard-main">
        <div class="wrap">
          <div class="center-containerC">
            <div class="upload-section">
              <!-- Input to select a file -->
              <input type="file" (change)="onFileSelected($event)" accept=".csv">
              <button (click)="uploadDataset()"><i class="fas fa-upload"></i> Upload Dataset</button>
            </div>
            <!-- Display existing datasets -->
            <div class="dataset-section" *ngIf="libs && libs.length > 0">
              <h2>Existing Datasets</h2>
              <table>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let lib of libs">
                    <td>{{ lib }}</td>
                    <td class="button-container">
                      <a class="buttonGlow btn" (click)="showLibrary(lib)"><i class="fas fa-eye"></i><span>Show</span></a>
                      <a class="buttonGlow btn" (click)="openTreatDialog(lib)"><i class="fas fa-cog"></i><span>Treat</span></a>
                      <a class="buttonGlow btn" (click)="getAnalytics(lib)"><i class="fas fa-chart-bar"></i><span>Analytics</span></a>
                      <a class="buttonGlow btn" (click)="downloadDataset(lib)"><i class="fas fa-download"></i><span>Download</span></a>
                      <a class="buttonGlow btn" (click)="deleteLibrary(lib)"><i class="fas fa-trash"></i><span>Delete</span></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="!libs || libs.length === 0">
              <p>No libraries found.</p>
            </div>
            <!-- Display analytics result as cards -->
<!-- Display analytics result as cards -->
<div class="analytics-cards" *ngIf="analyticsResult">
  <div class="card" *ngFor="let column of getObjectKeys(analyticsResult.numeric_statistics)">
    <h2>{{ column }}</h2>
    <div class="card-content">
      <div *ngFor="let item of getObjectKeys(analyticsResult.numeric_statistics[column])">
        <div>{{ item }}: {{ analyticsResult.numeric_statistics[column][item] }}</div>
      </div>
    </div>
  </div>
</div>

          </div>
        </div>
      </main>
    </div>
  </div>
</div>
