  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="">Mania Credit</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="">Home</a></li>
          <li><a class="nav-link scrollto" href="">About</a></li>
          <li><a class="getstarted scrollto" href="/login">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center" >
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <img src="..\assets\LoginPage\images\ManiaLogo.png" alt="Mania" width="30%">
          <h1>Credit Scoring App</h1>
          <h2>Empowering Financial Decisions</h2>
        </div>
      </div>
      <div class="text-center">
        <!-- Add any additional content or features here -->
      </div>
    </div>
  </section>

<!-- ======= Perks Section ======= -->
<section id="perks" class="perks">
  <div class="container" data-aos="fade-up">
    <div class="perks-container">
      <div class="perks-item">
        <div class="card perks-card">
          <div class="card-body">
            <i class="ri-money-dollar-circle-line" style="color: #ffbb2c;"></i>
            <h3 class="card-title">Financial Management</h3>
            <p class="card-text">Manage your finances effectively with our intuitive tools and features.</p>
          </div>
        </div>
      </div>
      <div class="perks-item">
        <div class="card perks-card">
          <div class="card-body">
            <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
            <h3 class="card-title">Smart Insights</h3>
            <p class="card-text">Gain valuable insights into your spending habits and financial health.</p>
          </div>
        </div>
      </div>
      <div class="perks-item">
        <div class="card perks-card">
          <div class="card-body">
            <i class="ri-shield-check-line" style="color: #e80368;"></i>
            <h3 class="card-title">Security</h3>
            <p class="card-text">Rest assured, your data is encrypted and secure with our robust security measures.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="team-members" class="team-members">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Team Members</h2>
      <p>Meet our talented team behind the app.</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="member">
          <div class="member-img">
            <img src="../../assets/Pictures/Meher.jpg" class="img-fluid" alt="Team Member">
            <div class="social">
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h3>Meher Ben Salem</h3>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
        <div class="member">
          <div class="member-img">
            <img src="../../assets/Pictures/Marwan.jpg" class="img-fluid" alt="Team Member">
            <div class="social">
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h3>Marwan Touati</h3>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
        <div class="member">
          <div class="member-img">
            <img src="../../assets/Pictures/Neil.JPG" class="img-fluid" alt="Team Member">
            <div class="social">
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h3>Neil Monastiri</h3>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
        <div class="member">
          <div class="member-img">
            <img src="../../assets/Pictures/Zaineb.JPG" class="img-fluid" alt="Team Member">
            <div class="social">
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h3>Zained Ben Arab</h3>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
        <div class="member">
          <div class="member-img">
            <img src="../../assets/Pictures/Samar.jpg" class="img-fluid" alt="Team Member">
            <div class="social">
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h3>Samar Hamdi</h3>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- ======= Contact Us Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Contact Us</h2>
      <p>Get in touch with us for any inquiries or assistance.</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="info-box mb-4">
          <h3>Our Address</h3>
          <p>Avenue Habib Bourguiba, Tunis, Tunisia</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="info-box  mb-4">
          <h3>Call Us</h3>
          <p>+216 29 972 339</p>
        </div>
      </div>
    </div>

    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
      <div class="row">
        <div class="col-md-6 form-group">
          <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
        </div>
        <div class="col-md-6 form-group mt-3 mt-md-0">
          <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
        </div>
      </div>
      <div class="form-group mt-3">
        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
      </div>
      <div class="form-group mt-3">
        <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
      </div>
      <div class="my-3">
        <div class="loading">Loading</div>
        <div class="error-message"></div>
        <div class="sent-message">Your message has been sent. Thank you!</div>
      </div>
      <div class="text-center"><button type="submit">Send Message</button></div>
    </form>

  </div>
</section><!-- End Contact Us Section -->


<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>&copy; 2024 Mania Credit. All Rights Reserved.
      </div>
    </div>
  </div>
</footer><!-- End Footer -->
