<div class="center-container">
    <div class="dashboard fade-in">
        <header class="dashboard-header">
            <h1>Mania Credit Calculator</h1>
        </header>
        <div class="dashboard-body">
            <app-navbar-back></app-navbar-back>
            <main class="dashboard-main" id="dynamicFormContainer">
                    <div class="wrap">
                        <div class="center-containerC">
                        <form (ngSubmit)="submitForm()" #f="ngForm">
                            <div class="form-group">
                                <label for="lender_insurance_premium">Lender Insurance Premium:</label>
                                <input type="number" id="lender_insurance_premium" class="form-control" required
                                    [(ngModel)]="formData.lender_insurance_premium" name="lender_insurance_premium">
                            </div>
                            <div class="form-group">
                                <label for="jobs_created">Jobs Created:</label>
                                <input type="number" id="jobs_created" class="form-control" required
                                    [(ngModel)]="formData.jobs_created" name="jobs_created">
                            </div>
                            <div class="form-group">
                                <label for="optional_revenue_yr_confirmed">Optional Revenue Year Confirmed:</label>
                                <select id="optional_revenue_yr_confirmed" class="form-control" required
                                    [(ngModel)]="formData.optional_revenue_yr_confirmed"
                                    name="optional_revenue_yr_confirmed">
                                    <option value="" disabled selected>Select Optional Revenue Year Confirmed</option>
                                    <ng-container *ngFor="let year of years">
                                        <option [value]="year">{{ year }}</option>
                                    </ng-container>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="optional_stage">Optional Stage:</label>
                                <select id="optional_stage" class="form-control" required
                                    [(ngModel)]="formData.optional_stage" name="optional_stage">
                                    <option value="" disabled selected>Select Optional Stage</option>
                                    <option value="Early Stage">Early Stage</option>
                                    <option value="Growth">Growth</option>
                                    <option value="Mezzanine">Mezzanine</option>
                                    <option value="Pre-Seed">Pre-Seed</option>
                                    <option value="Seed">Seed</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
                <!-- Display the result -->
                <div *ngIf="result" class="result-container">
                    <h2>Prediction Result</h2>
                    <div class="result-details">
                        <p><strong>FICO Class:</strong> {{ result.FICO_Class }}</p>
                        <p><strong>FICO Score:</strong> {{ result.FICO_Score  }}</p>
                        <p><strong>Loan Prediction:</strong> {{ result.Loan_Prediction }}</p>
                        <p><strong>Risk Level:</strong> {{ result.Risk_Level }}</p>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
