<div class="center-container">
    <div class="dashboard fade-up">
        <div class="dashboard-body">
            <app-navbar-back></app-navbar-back>
            <main class="dashboard-main">
                <div class="wrap">
                    <div class="center-containerC">
                        <div *ngIf="libs && libs.length > 0">
                            <table class="library-table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let lib of libs">
                                        <ng-container *ngIf="lib.indexOf('logfile.log') === -1">
                                            <td>{{ lib }}</td>
                                            <td class="button-container">
                                                <a class="buttonGlow btn" (click)="showLibrary(lib)">
                                                    <span><i class="fas fa-eye"></i> Show</span>
                                                </a>
                                                <a class="buttonGlow btn" (click)="downloadDataset(lib)">
                                                    <span><i class="fas fa-download"></i> Download</span>
                                                </a>
                                                <a class="buttonGlow btn" (click)="deleteLibrary(lib)">
                                                    <span><i class="fas fa-trash"></i> Delete</span>
                                                </a>
                                            </td>
                                        </ng-container>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="!libs || libs.length === 0" class="no-libraries">
                            <p>No libraries found.</p>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
