<div class="center-container">
    <div class="dashboard fade-in">
        <header class="dashboard-header">
            <h1>Mania Credit Checker</h1>
        </header>
        <div class="dashboard-body">
            <app-navbar-back></app-navbar-back>
            <main class="dashboard-main">
                <div class="wrap">
                    <div class="center-containerC">
                        <h2 class="title">Search by Customer ID to Check Credit Score</h2>
                        <p>Search based on customer ID to find their credit score.</p>
                        <ol class="steps">
                            <li>
                                <a [class.current]="currentStep === 1"><span class="number">1</span> Search</a>
                            </li>
                            <li>
                                <a [class.current]="currentStep === 2"><span class="number">2</span> Find</a>
                            </li>
                            <li>
                                <a [class.current]="currentStep === 3"><span class="number">3</span> Decide</a>
                            </li>
                        </ol>                        
                        <!-- Select category dropdown -->
                        <div class="search" *ngIf="currentStep === 1">
                            <select class="dropdown" [(ngModel)]="selectedFile">
                                <option *ngFor="let file of files" [value]="file">{{ file }}</option>
                            </select>
                            <input type="text" class="searchTerm" placeholder="Enter Customer ID" #searchInput>
                            <button type="submit" class="searchButton" (click)="searchFicoScore(searchInput.value)">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <div class="spinner-overlay" *ngIf="loading">
                            <div class="loading-text">
                                <p>{{ loadingText }}</p>
                            </div>
                            <div class="loader"></div>
                        </div>
                        
                        <!-- Display FICO score data -->
                        <div *ngIf="currentStep === 3 && ficoScoreData">
                            <h2 class="title">FICO Score Details</h2>
                            <p>FICO Score: {{ ficoScoreData.FICO_Score }}</p>
                            <p>Risk Level: {{ ficoScoreData.Risk_Level }}</p>
                            <p>FICO Class: {{ ficoScoreData.FICO_Class }}</p>
                            <p>Loan Prediction: {{ ficoScoreData.Loan_Prediction }}</p>
                            
                            <div class="animation-container">
                                <span class="check-mark"><i class="fa fa-check"></i></span>
                                <p class="animation-text">FICO Score is good!</p>
                            </div>
                        </div>
                        <div *ngIf="currentStep === 3 && !ficoScoreData">
                            <p>No data found for the provided unique ID.</p>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
